@model List<Week2Oefening1.Models.Device>

@{
    ViewBag.Title = "Index";
}

@{
    int length = Model.Count;
    for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row">
            <article class="col-md-4 product">
                <h2>@Model[i].Name</h2>
                <p>@Model[i].Description</p>
                <a class="btn btn-info" href="/Catalog/Detail/@Model[i].Id">More info</a>
            </article>
            @if (i + 1 < Model.Count)
            {
                <article class="col-md-4 product">
                    <h2>@Model[i + 1].Name</h2>
                    <p>@Model[i + 1].Description</p>
                    <a class="btn btn-info" href="/Catalog/Detail/@Model[i+1].Id">More info</a>
                </article>
            }
            
            @if (i + 2 < Model.Count)
            {
                <article class="col-md-4 product product-left">
                    <h2>@Model[i + 2].Name</h2>
                    <p>@Model[i + 2].Description</p>
                    <a class="btn btn-info" href="/Catalog/Detail/@Model[i +2].Id">More info</a>
                </article>
            }
        </div>
    }
}

