@model Iotshop.Models.PresentationModels.DeviceBasketItemPM

@{
    ViewBag.Title = "Detail";
}

<article class="product-detail">
    @{
        String[] modelParts = Model.NewDevice.Name.Split('-');
    }
    <h2>@modelParts[0]</h2>
    <img width="200" src="https://internetofthingswebshop.blob.core.windows.net/images/@Model.NewDevice.Image" />
    <aside>
        <p>Model:</p>
        <ul>
            <li>@Model.NewDevice.Name</li>
        </ul>
        <p>Huur mij voor:</p>
        <ul>
            <li>@Model.NewDevice.RentingPrice</li>
        </ul>
        <p>Stock te verhuren:</p>
        <ul>
            <li>@Model.NewDevice.Stock</li>
        </ul>
        <a class="btn btn-info" href="/Catalog/">Back to list</a>
    </aside>
    @Html.Partial("RentPartial", Model.NewBasketItem)
</article>
